.btn{
    background-color: dodgerblue;
    padding: 0.5rem 2.5rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.2px;

    &:hover{
        letter-spacing: 3px;
    }
}

h1{

}

h2{
    
}