*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Sora', sans-serif;
    list-style: none;
    font-size: 1.6rem;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}